/* Common shared styles */
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* Nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav>ul {
    display: flex;
    padding-right: 20px;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;

}

nav a {
    text-decoration: none;

    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nav-title {
    color: var(--dark-01, #181818);
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.text-primary {
    color: #FD6E0A;
    ;
}

.btn-primary {
    border-radius: 5px;
    border: 0;
    background: #FD6E0A;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 15px 35px;
}